<!-- 




<h1>Rock Paper Scissors Game</h1>

<button (click)="playGame()" *ngIf="!gameStarted">Play Game</button>

<div id="gameSection" *ngIf="gameStarted">
  <label for="playerChoice">Enter rock, paper, or scissors: </label>
  <input type="text" id="playerChoice" [(ngModel)]="playerChoice">
  <button (click)="submitChoice()">Submit</button>
</div>

<div id="result" *ngIf="showResult">
  <p>{{ resultMessage }}</p>
  <button (click)="playAgain()">Play Again</button>

 
</div>



<div>
  <p>hello babee you want a : <span id="demo"></span></p>
</div> 

  -->

  <p id="demooo"></p>

  <p id="demoo">JavaScript can change HTML content.</p>

  <button (click)="clickfun()">click</button>

<!-- <p id="demo"></p> -->
  <main>
    <section id="view1" class="view view1">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
      <div>8</div>
      <div>9</div>
      <div>10</div>
      <div>11</div>
      <div>12</div>
    </section>
    <section id="view2" class="view view2">
      <h2>My 2nd View</h2>
    </section>
  </main>




  <main>
  <div id='view3' style="width: 300px;height: 200px; border: 2px solid black; display: flex; justify-content: center; align-items: center; backdrop-filter: brightness(50%);">
    <div class="black">
      <h2>Angular App</h2>
    </div>
  </div>
  </main>

 
  